
<div class="news">
  {% if site.activity != blank -%}
    {%- assign activity_size = site.activity | size -%}
    <div class="table-responsive" {% if include.limit and site.announcements.scrollable and activity_size > 3 %}style="max-height: 60vw"{% endif %}>

       <style>
    /* very specific + !important to beat Bootstrap */
    table.table.activity-compact > tbody > tr > th,
    table.table.activity-compact > tbody > tr > td {
      padding-top: 0.18rem !important;
      padding-bottom: 0.18rem !important;
      line-height: 1.2;
    }
    table.table.activity-compact p { margin: 0; }
  </style>

    <table class="table table-sm table-borderless activity-compact">
    {%- assign activity = site.activity | reverse -%}
    {% if include.limit and site.announcements.limit %}
      {% assign activity_limit = site.announcements.limit %}
    {% else %}
      {% assign activity_limit = activity_size %}
    {% endif %}
    {% for item in activity limit: activity_limit %}
        <tr>
        <th scope="row">-<!--{{ item.date | date: "%b %-d, %Y" }}--></th>
        <td>
        {% if item.inline -%}
          {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
        {%- else -%}
          <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
        {%- endif %}
        </td>
        </tr>
      {%- endfor %}
    </table>
    </div>
  {%- else -%}
  {%- endif %}
</div>
