<div class="news" style="margin-bottom: 1.5rem;">
  {% if site.news != blank -%}
    {%- assign news_size = site.news | size -%}
    <div class="table-responsive" {% if include.limit and site.announcements.scrollable and news_size > 3 %}style="max-height: 60vw"{% endif %}>

       <style>
    /* very specific + !important to beat Bootstrap */
    table.table.news-compact > tbody > tr > th,
    table.table.news-compact > tbody > tr > td {
      padding-top: 0.18rem !important;
      padding-bottom: 0.18rem !important;
      line-height: 1.2;
    }
    table.table.news-compact p { margin: 0; }
  </style>

    <table class="table table-sm table-borderless news-compact" style="margin-bottom: 0; line-height: 1.2;">
    {%- assign news = site.news | reverse -%}
    {% if include.limit and site.announcements.limit %}
      {% assign news_limit = site.announcements.limit %}
    {% else %}
      {% assign news_limit = news_size %}
    {% endif %}
    {% for item in news limit: news_limit %}
        <tr>
        <th scope="row">-<!--{{ item.date | date: "%b %-d, %Y" }}--></th>
        <td>
        {% if item.inline -%}
          {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
        {%- else -%}
          <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
        {%- endif %}
        </td>
        </tr>
      {%- endfor %}
    </table>
    </div>
  {%- else -%}
    <p>ququ</p>
  {%- endif %}
</div>
